
<h1>Figure Creation Page</h1>

<form action="/figures" method=post>
	<label>Figure Name:</label></br>
	<input type="text" name="figure[name]" id="figure_name" value="figure_name" /></br>
	<label>Title Id:</label></br>
	<% @title.each do |titles| %>
		<input type="checkbox" name="figure[title_ids][]" value="<%= titles.id %>"><%= titles.name %></input></br>
	<% end %>	
	
	<label>Landmark Id:</label></br>
	<% @landmark.each do |landmarks| %>
		<input type="checkbox" name="figure[landmark_ids][]" id="<%= landmarks.id %>" value="<%= landmarks.id %>"><%= landmarks.name %></input></br>
	<% end %>	
	
	<label>Do you want to change your Title?:</label>
	<input type="text" name="title[name]" value="new_title"/>
	<input type="text" name="landmark[name]" value="new_landmark" />
	<input type="submit" value="Create New Figure" />
</form>
